In [1]:
import pandas as pd

In [9]:
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
submission_file=pd.read_csv('sample_submission.csv')
movies=pd.read_csv('movies.csv')
links=pd.read_csv('links.csv')
imdb_data=pd.read_csv('imdb_data.csv')
genome_tags=pd.read_csv('genome_tags.csv')
genome_scores=pd.read_csv('genome_scores.csv')

In [7]:
print("The shape of the training data is : {}".format(train.shape))
print("The count of missing values in the train data is : {}".format(train.isnull().sum()))
print("The count of duplicates in the train data is : {}".format(train.duplicated().sum()))
print("Each column data type is : {}".format(train.dtypes))
train.head(3)

The shape of the training data is : (10000038, 4)
The count of missing values in the train data is : userId       0
movieId      0
rating       0
timestamp    0
dtype: int64
The count of duplicates in the train data is : 0

   userId  movieId  rating   timestamp
0    5163    57669     4.0  1518349992
1  106343        5     4.5  1206238739
2  146790     5459     5.0  1076215539

In [8]:
print("The shape of the test data is : {}".format(test.shape))
print("The count of missing values in the test data is : {}".format(test.isnull().sum()))
print("The count of duplicates in the test data is : {}".format(test.duplicated().sum()))
print("Each column data type is : {}".format(test.dtypes))
test.head(3)

The shape of the test data is : (5000019, 2)
The count of missing values in the test data is : userId     0
movieId    0
dtype: int64
The count of duplicates in the test data is : 0

   userId  movieId
0       1     2011
1       1     4144
2       1     5767

In [10]:
print("The shape of the movies data is : {}".format(movies.shape))
print("The count of missing values in the movies data is : {}".format(movies.isnull().sum()))
print("The count of duplicates in the movies data is : {}".format(movies.duplicated().sum()))
print("Each column data type is : {}".format(movies.dtypes))
movies.head(3)

The shape of the movies data is : (62423, 3)
The count of missing values in the movies data is : movieId    0
title      0
genres     0
dtype: int64
The count of duplicates in the movies data is : 0

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance

In [11]:
print("The shape of the links data is : {}".format(links.shape))
print("The count of missing values in the links data is : {}".format(links.isnull().sum()))
print("The count of duplicates in the links data is : {}".format(links.duplicated().sum()))
print("Each column data type is : {}".format(links.dtypes))
links.head(3)

The shape of the links data is : (62423, 3)
The count of missing values in the links data is : movieId      0
imdbId       0
tmdbId     107
dtype: int64
The count of duplicates in the links data is : 0

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0

In [12]:
print("The shape of the imdb data is : {}".format(imdb_data.shape))
print("The count of missing values in the imdb data is : {}".format(imdb_data.isnull().sum()))
print("The count of duplicates in the imdb data is : {}".format(imdb_data.duplicated().sum()))
print("Each column data type is : {}".format(imdb_data.dtypes))
imdb_data.head(3)

The shape of the imdb data is : (27278, 6)
The count of missing values in the imdb data is : movieId              0
title_cast       10068
director          9874
runtime          12089
budget           19372
plot_keywords    11078
dtype: int64
The count of duplicates in the imdb data is : 0

,movieId,title_cast,director,runtime,budget,plot_keywords
0,1,Tom Hanks|Tim Allen|Don Rickles|Jim Varney|Wal...,John Lasseter,81.0,"$30,000,000",toy|rivalry|cowboy|cgi animation
1,2,Robin Williams|Jonathan Hyde|Kirsten Dunst|Bra...,Jonathan Hensleigh,104.0,"$65,000,000",board game|adventurer|fight|game
2,3,Walter Matthau|Jack Lemmon|Sophia Loren|Ann-Ma...,Mark Steven Johnson,101.0,"$25,000,000",boat|lake|neighbor|rivalry

In [15]:
print("The shape of the genome_tags data is : {}".format(genome_tags.shape))
print("The count of missing values in the genome_tags data data is : {}".format(genome_tags.isnull().sum()))
print("The count of duplicates in the genome_tags data data is : {}".format(genome_tags.duplicated().sum()))
print("Each column data type is : {}".format(genome_tags.dtypes))
genome_tags.head(3)

The shape of the genome_tags data is : (1128, 2)
The count of missing values in the genome_tags data data is : tagId    0
tag      0
dtype: int64
The count of duplicates in the genome_tags data data is : 0

   tagId           tag
0      1           007
1      2  007 (series)
2      3  18th century

In [16]:
 print("The shape of the genome_scores data is : {}".format(genome_scores.shape))
print("The count of missing values in the genome_scores data data is : {}".format(genome_scores.isnull().sum()))
print("The count of duplicates in the genome_scores data data is : {}".format(genome_scores.duplicated().sum()))
print("Each column data type is : {}".format(genome_scores.dtypes))
genome_scores.head(3)

The shape of the genome_scores data is : (15584448, 3)
The count of missing values in the genome_scores data data is : movieId      0
tagId        0
relevance    0
dtype: int64
The count of duplicates in the genome_scores data data is : 0
Each column data type is : movieId        int64
tagId          int64
relevance    float64
dtype: object

   movieId  tagId  relevance
0        1      1    0.02875
1        1      2    0.02375
2        1      3    0.06250